.dashboard__navigation {
  height: 100vh;
  background-color: lightgrey;
}

.dashboard__content {
  background-color: #eeeeee;
}

.dashboard__entries {
  height: 100vh;
}

.dashboard__navlink {
  cursor: pointer;
  padding: 0.5rem;
}

.dashboard__navlink:hover {
  background-color: #eee;
}