.tag-options__container {
  border: 1px solid grey;
  margin: 0.5rem 0;
  max-width: 180px;
  max-height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tag-options__option {
  padding: 0.25rem;
  cursor: pointer;
}

.tag-options__option:hover {
  background-color: whitesmoke;
}
